.sticky {
	display: block;
}

.hentry {
	margin: 0 0 ($line-height-computed / 2);
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: ($line-height-computed / 2) 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 ($line-height-computed / 2);
}
