/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: ($line-height-computed / 2);
}

.alignright {
	display: inline;
	float: right;
	margin-left: ($line-height-computed / 2);
}

.aligncenter {
	clear: both;
	@include center-block;
}
